*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background: #a0a2a3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc{
  
  background-color: #363b42;
  border-radius: 10px;
  padding: 5px;
  width: 280px;
  height: 390px;
  margin: auto ;
  
  
}
p{
  color: #fff;
  font-size: 23px;
  margin-left: 10px;
  font-family: serif;
}
#screen{
background: #bdd1f2;
height: 48px;
width: 250px;
margin: 9px;
font-size: 21px;
text-align: right;
border-radius: 7px;

}
.button{
  width: 45.5px;
  height: 30px;
  margin: 9px;
  font-size:1.5em;
  background: #9dd2eb;
  border-radius: 7px;
}
.button:hover{
  background: #7687e8;
}

.clear{
  background: red;
  color: #fff;
}
.clear:hover{
  background:#eb6a6a ;
}
.operator{
  background: #92f0d5;
}
.operator:hover{
  background:#26e0ac ;
}
